<h2>Jobs</h2>

<a [routerLink]="['jobcreate']">Create a Job</a>
<div>
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="jobName">
            <mat-header-cell *matHeaderCellDef>Job</mat-header-cell>
            <mat-cell *matCellDef="let job">{{ job.jobName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
            <mat-cell *matCellDef="let job">{{ job.address }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
            <mat-cell *matCellDef="let job">{{ job.startDate }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
            <mat-cell *matCellDef="let job">{{ job.endDate }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="costEstimate">
            <mat-header-cell *matHeaderCellDef>Cost Estimate</mat-header-cell>
            <mat-cell *matCellDef="let job">{{ job.costEstimate }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
            <mat-cell *matCellDef="let job"><button mat-button (click)="edit(job.jobID)">Edit</button></mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
            <mat-cell *matCellDef="let job"><button mat-button (click)="delete(job.jobID)">Delete</button></mat-cell>
        </ng-container>        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</div>
