
<div *ngIf="job"> 
        <h1 mat-dialog-title>{{ job.jobName }} </h1>
        <mat-dialog-content>
                <hr />
                <p> <b>Address: </b>{{ job.address }} </p>
                <p><b>Start Date: </b>{{ job.startDate | date }} </p>
                <p><b>End Date: </b>{{ job.endDate | date }}</p>
                <p><b>Cost Estimate: </b><span id="money">{{ job.costEstimate | currency }}</span></p>
                <hr />
                <h3>Employees</h3>
                <table>
                        <thead>
                                <tr>
                                        <th>
                                        Employee Name
                                        </th>
                                        <th>
                                        Employee Details
                                        </th>
                                        <th>
                                        Total Current Payment
                                        </th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let employee of job.employees; let i = index">
                                        <td>{{ employee.firstName }} {{ employee.lastName}}</td>
                                        <td ><a>View Details</a></td>
                                </tr>
                        </tbody>
                </table>
        </mat-dialog-content>    
</div>


