<div class="container" *ngIf="jobForm">
    <h1>Edit {{ job.jobName }}</h1>
    <form [formGroup]="jobForm" (ngSubmit)="save()">
        <div class="input-row">         
            <mat-form-field>
                <input formControlName="jobName" matInput placeholder="Job" required="required" />
            </mat-form-field>
            <br/>    
            <mat-form-field>
                <input formControlName="address" matInput placeholder="Address" required="required" />
            </mat-form-field>
            <br/> 
            <mat-form-field>
                <input matInput [matDatepicker]="startDate" formControlName="startDate"  placeholder="Choose a Start Date">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input matInput [matDatepicker]="endDate" formControlName="endDate" placeholder="Choose a End Date">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field> 
            <br/>
            <mat-form-field>
                <input formControlName="costEstimate" matInput placeholder="Cost Estimate" required="required" />
            </mat-form-field>
            <br/>           
            <button mat-raised-button type="submit" value="Save">Submit</button>                                      
        </div>    
    </form>
</div>
