<h1>Clients</h1>

<p class="createClient"><button mat-raised-button color="accent" (click)="createClient()">Create a Client</button></p>
<div>
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
            <mat-cell *matCellDef="let client"><a (click)="showDetails(client.userID)">{{ client.firstName }}</a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
            <mat-cell *matCellDef="let client"><a (click)="showDetails(client.userID)">{{ client.lastName }}</a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
            <mat-cell *matCellDef="let client"><a (click)="showDetails(client.userID)">{{ client.address }}</a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
            <mat-cell *matCellDef="let client"><a (click)="showDetails(client.userID)">{{ client.phoneNumber }}</a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="emailAddress">
            <mat-header-cell *matHeaderCellDef>Email Address</mat-header-cell>
            <mat-cell *matCellDef="let client"><a (click)="showDetails(client.userID)">{{ client.emailAddress }}</a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let client"><button mat-icon-button><mat-icon (click)="edit(client.userID)">edit</mat-icon></button> 
                                               <button mat-icon-button><mat-icon (click)="delete(client.userID)">delete</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="addJob">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let client"><button mat-raised-button color="accent" (click)="details(client.userID)">View Details</button>
                                                <button mat-raised-button color="accent" (click)="delete(client.userID)">Add a Job</button>                   
            </mat-cell>
        </ng-container>         
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</div>
