<div *ngIf="clientForm">
    <h1>Edit  {{client.firstName }} {{ client.lastName }}</h1>
    <form [formGroup]="clientForm" (ngSubmit)="save()">
        <div class="input-row">
            <mat-form-field>
                <input formControlName="firstName" matInput required="required" />
            </mat-form-field>
            <br/>   
            <mat-form-field>
                <input formControlName="lastName" matInput required="required" />
            </mat-form-field>
            <br/> 
            <mat-form-field>
                <input formControlName="address" matInput required="required" />
            </mat-form-field>
            <br/>         
            <mat-form-field>
                <input formControlName="phoneNumber" matInput  required="required" />
            </mat-form-field>
            <br/>         
            <mat-form-field>
                <input formControlName="emailAddress" matInput required="required" />
            </mat-form-field>
            <br/>             
            <button mat-raised-button color="accent" type="submit" value="Save">Submit</button>
        </div>
    </form>   
</div>
