
<div *ngIf="client"> 
        <h1>{{ client.firstName }} {{ client.lastName }}</h1>
        <hr />
        <p> <b>Phone Number: </b>{{ client.phoneNumber }} </p>
        <p><b>Email Address: </b>{{ client.emailAddress }} </p>
        <p><b>Address: </b>{{ client.address }}</p>
        <hr />
        <div>
                <mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="jobName">
                                <mat-header-cell *matHeaderCellDef>Job Name</mat-header-cell>
                                <mat-cell *matCellDef="let job">{{ job.jobName }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="jobDetail">
                                <mat-header-cell *matHeaderCellDef>Job Details</mat-header-cell>
                                <mat-cell *matCellDef="let job"><a [routerLink]="['/joblist/']">View Details</a></mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="startDate">
                                <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
                                <mat-cell *matCellDef="let job">{{ job.startDate }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="endDate">
                                <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
                                <mat-cell *matCellDef="let job">{{ job.endDate }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="costEstimate">
                                <mat-header-cell *matHeaderCellDef>Cost Estimate</mat-header-cell>
                                <mat-cell *matCellDef="let job">{{ job.costEstimate }}</mat-cell>
                        </ng-container> 
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>                                                               
                </mat-table>
        </div>
</div>

