mat-header-cell {
    font-weight: bold;
    font-size: 15px;   
}

.clientInfo {
    margin-left:20px;
}

a {
    cursor: pointer;
}

h1 {
    font-size:35px;
    margin-left: 20px;
}

#money {
    color: green;
}