
<div *ngIf="client">
        <h1>{{ client.firstName }} {{ client.lastName }}</h1>
        <hr /> 
        <div class="clientInfo">
                <p> <b>Phone Number: </b>{{ client.phoneNumber }} </p>
                <p><b>Email Address: </b>{{ client.emailAddress }} </p>
                <p><b>Address: </b>{{ client.address }}</p>
        </div>
        <hr />
        <div>
                <h2>Jobs</h2>
                <mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="jobName">
                                <mat-header-cell *matHeaderCellDef>Job Name</mat-header-cell>
                                <mat-cell *matCellDef="let job">{{ job.jobName }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="address">
                                <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                                <mat-cell *matCellDef="let job">{{ job.address }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="startDate">
                                <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
                                <mat-cell *matCellDef="let job">{{ job.startDate | date }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="endDate">
                                <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
                                <mat-cell *matCellDef="let job">{{ job.endDate | date }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="costEstimate">
                                <mat-header-cell *matHeaderCellDef>Cost Estimate</mat-header-cell>
                                <mat-cell id="money" *matCellDef="let job">{{ job.costEstimate | currency }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="jobDetails">
                                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                        <mat-cell *matCellDef="let job"><button mat-raised-button color="accent" (click)="jobdetails(job.jobID)">View Details</button></mat-cell>
                        </ng-container> 
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>                                                               
                </mat-table>
        </div>
</div>

